atom-text-editor.diff-view {
  .line-number.plus:before {
    font-family: 'Octicons Regular';
    content: "\f05d" !important;
    color: #a8ff60;
  }

  .line-number.minus:before {
    font-family: 'Octicons Regular';
    content: "\f0ca" !important;
    color: #ffa860;
  }

  .minus.line {
    text-decoration: line-through;
  }

  &.test {
    background-color: #800;
  }
}

atom-text-editor.diff-view.commit {
  font-size: 10pt;
}

div.parent-diff-view {
  height: 100%;
  overflow: auto;
  position: relative;
}

div.diff-view.commit {
  max-height: 600px;
}

div.rm-ticket {
  font-size: 16px;

  input {
    width: 100%;
  }
}

div.decoration.blame {
  border-top: solid 1px;
}

div.diff-for-file {
  background: white;
  width: 100%;
  height: 100%;
}

div.diff-view.for-file {
  float: left;
  max-width: 75%;
  min-width: 60%;
  height: 100%;
}

// div.diff-logs {
//   width: 400px;
//   height: 100%;
//   float: right;
//   background: white;
//   margin-right: 15px;
//   overflow: scroll;
// }

// D2H
div.diff-view .d2h-cntx {
  background-color: #FFF !important;
  order-color: #b4e2b4;
}

.d2h-code-line-ctn {
  white-space: pre;
}

div.diff-view.commit .d2h-diff-table {
  font-size: 8pt !important;
}

div.diff-view.commit .d2h-diff-tbody>tr>td>div {
    height: 12.5px;
}

div.diff-view.commit .d2h-code-linenumber {
  height: 15px;
}
